<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head-load') %>
  </head>
  <body>
    <%- include('header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><br />
    <a href="/new">Manutenção de Pessoas</a>
    <%= result %>
    <%- include('footer') %>
  </body>
</html>
