<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head-load') %>
  </head>
  <body>
    <%- include('header') %>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
    <form method="post" class="form-inline">
      <a href="/new" class="btn btn-default">Novo</a>
      <input type="submit" value="Salvar" class="btn btn-default" />
      <div class="form-group">
        <input type="text" name="nome" placeholder="Nome" class="form-control" value="<%= reg_edit ? reg_edit.nome : '' %>" /><br />
      </div>
      <div class="form-group">
        <input type="text" name="idade" placeholder="Idade" class="form-control" value="<%= reg_edit ? reg_edit.idade : '' %>"/>
      </div>
    </form>

    <div class="container-fluid">
      <% for (p in result) { %>
      <div class="row">
        <div class="col-md-8">
          <a href="/new?_id=<%= result[p]._id %>"><%= result[p].nome %></a>
        </div>
        <div class="col-md-2">
            <%= result[p].idade %>
        </div>
        <div class="col-md-2">
          <a href="/new?_id=<%= result[p]._id %>&remover=true" onclick="return confirm('Remover <%= result[p].nome %>?')">Remover</a>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('footer') %>
  </body>
</html>
